<h2>Create a new drone</h2>

<form action="/drones/create" method="POST" class="col-md-6">
    <div>
        <label class="form-label" for="drone-model">Model</label>
        <input class="form-control" type="text" name="name" id="drone-model" required>
    </div>
    <br>
    <div>
        <label class="form-label" for="drone-propellers">Propellers</label>
        <input class="form-control" type="number" min="2" max="20" name="propellers" id="drone-propellers" required>
    </div>
    <br>
    <div>
        <label class="form-label" for="drone-max-speed">Max Speed</label>
        <input class="form-control" type="number" min="1" max="900" name="maxSpeed" id="drone-max-speed" required>
    </div>
    <br>
    <button class="btn btn-secondary" type="submit">Create Drone</button>
</form>