<h2>Update the drone</h2>

<form action="/drones/{{drone.id}}/edit" method="POST" class="col-md-6">
    <div>
        <label class="form-label" for="drone-model">Model</label class="form-label">
        <input class="form-control" type="text" name="name" id="drone-model" value="{{drone.name}}">
    </div>
    <br>
    <div>
        <label class="form-label" for="drone-propellers">Propellers</label class="form-label">
        <input class="form-control" type="number" min="2" max="20" name="propellers" 
            id="drone-propellers" value="{{drone.propellers}}">
    </div>
    <br>
    <div>
        <label class="form-label" for="drone-max-speed">Max Speed</label class="form-label">
        <input class="form-control" type="number" min="1" max="900" name="maxSpeed" 
            id="drone-max-speed" value="{{drone.maxSpeed}}">
    </div>
    <br>
    <button class="btn btn-success" type="submit">Update Drone</button class="btn btn-success">
</form>